[workspace]
members = ["cargo:."]

# Config for 'dist'
[dist]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.30.2"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = []
# Target platforms to build apps for (Rust target-triple syntax)
targets = [
    "aarch64-apple-darwin",
    "aarch64-unknown-linux-gnu",
    "x86_64-apple-darwin",
    "x86_64-unknown-linux-gnu",
    "x86_64-pc-windows-msvc"
]

# Have to specify binaries, or else the testdata binary joins the distribution
[dist.binaries]
aarch64-apple-darwin = ["nln"]
aarch64-unknown-linux-gnu = ["nln"]
x86_64-apple-darwin = ["nln"]
x86_64-unknown-linux-gnu = ["nln"]
x86_64-pc-windows-msvc = ["nln"]
