[tools]
"cargo:cargo-fuzz" = "latest"

[tasks.fuzz]
description = "Fuzz"
run = "cargo +nightly fuzz run --target x86_64-unknown-linux-gnu fuzz_target_1"

[tasks.fuzz-cmin]
description = "Compact corpus"
run = "cargo +nightly fuzz cmin --target x86_64-unknown-linux-gnu fuzz_target_1"

[tasks.testdata]
description = "Generate test data"
run = "cargo run --release --bin testdata"
